<script src="https://unpkg.com/htmx.org@1.6.1"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Untersetzer.Digital | Uni Siegen</title>
    {% block css %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <script src="//unpkg.com/alpinejs" defer></script>
        <style>
            [x-cloak] {
                display: none !important;
            }

            .select2-container {

                display: block !important;

            }
        </style>
        {% block extra_css %}

        {% endblock extra_css %}
    {% endblock css %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>


        <section class="section">
          <div class="columns">
            <div class="column is-8 is-offset-2">
              <div class="content is-medium">
                <h2 class="subtitle is-4">Universität Siegen</h2>
                <h1 class="title">Untersetzer.Digital</h1>
                <p>Der smarte Untersetzer ist ein Projekt zweier Masterstudenten der Universität Siegen. Für mehr Informationen sprechen Sie uns gerne an.</p>

                  <p class="is-size-7"><b>Ansprechpartner:</b> Robert Fischbach & Enzo Frenker-Hackfort | E-Mail: e.frenker@student.uni-siegen.de</p>
              </div>
            </div>
          </div>
        </section>


<script src="https://unpkg.com/htmx.org@1.6.1"></script>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</body>
</html>