<script type="text/javascript">
  var checkoutId = "{{ checkout.id }}";
  var sumupCard = SumUpCard.mount({
    id: "sumup-card",
    showSubmitButton: true,
    onLoad: function () {
      setTimeout(() => {
        window.scrollTo(0, document.body.scrollHeight);
      }, 250);
    },
    currency: "EUR",
    locale: "de-DE",
    country: "DE",
    googlePay: "true",
    checkoutId: checkoutId,
    onResponse: function (type, body) {
        if (type === 'error') {
          if(body.error_code === "CHECKOUT_PROCESSED"){
            alert("Die Zahlung wurde bereits durchgeführt")
          }else{
            alert("Die Zahlung konnte nicht durchgeführt werden! Bitte versuchen Sie es erneut.")
          }
          return;
        }

      
        console.log(body.checkout_reference)
        console.log(body.transaction_code)

        if(type === 'success'){
          debugger;
          window.location.href = "/gs/bill/" + body.checkout_reference;
        }
      },
  });
</script>
